:root{
    --main-color: #507fff;
    --secondary-color: #2e31cc;
    --accent-color: #ff5733;
    --verdecito: #28a745;  
    --black-standard: #131314;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}    




/* naranja mecanica : snake case

naranjaMecanica : camel case

naranja_mecanica : kebab case

*/

div{

    width: 200px;
    height: 100px;
    background-color: cornsilk;

    color: var(--secondary-color);

    p{
        color: var(--verdecito);
    }

}


p{
    color: var(--verdecito);
    font-size: 1em;
    
}

#caja{
    width: 50px;
    height: 50px;
    background-color:tan
   
}

#caja2{
    width: 50vw;
    height: 25vh;
    background-color: lightsteelblue;
}

main{
    min-height: 85vh;
}

footer{
    background-color: var(--main-color);
    color: white; 
    min-height: 5vh;
}
